<!-- <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute bg-dark fixed-top">
  <div class="container-fluid">
      <div class="navbar-wrapper">
          <div class="navbar-toggle">
              <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
                  <span class="navbar-toggler-bar bar1"></span>
                  <span class="navbar-toggler-bar bar2"></span>
                  <span class="navbar-toggler-bar bar3"></span>
              </button>
          </div>
          <a class="navbar-brand" href="">{{ getTitle() }}</a>
      </div>
      <button class="navbar-toggler" type="button" (click)="collapse()"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [collapse]="isCollapsed">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#pablo">
              <i class="now-ui-icons media-2_sound-wave"></i>
              <p>
                <span class="d-lg-none d-md-block">Stats</span>
              </p>
            </a>
          </li>
          <li class="nav-item" ngbDropdown>
            <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
              <i class="now-ui-icons location_world"></i>
              <p>
                <span class="d-lg-none d-md-block">Some Actions</span>
              </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pablo">
              <i class="now-ui-icons users_single-02"></i>
              <p>
                <span class="d-lg-none d-md-block">Account</span>
              </p>
            </a>
          </li>
        </ul>
      </div>
  </div>
</nav> -->

<!-- <button type="button" class="btn btn-primary"
        tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Simple demo
</button>

<div class="card">
  <div class="card-header">this is header</div>
  <div class="card-body">this is body</div>
</div> -->

<header>

  <nav class="navbar navbar-expand-md navbar-transparent navbar-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href=""> {{ getTitle() }} </a>
      <button
        class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-white btn-outline" href="#">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
