* {
  font-family: Montserrat, 'Helvetica Neue', Arial, sans-serif !important;
}

.card {
  background: #fff;
  margin: auto;
  width: 200px !important;
  height: 400px;
  border-radius: 10px;
  border: 1px solid #283747;
  position: relative;
  overflow: hidden;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;

  &:hover {
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  }

  .card-img-top {
    height: 80%;
    width: 100%;
    background: no-repeat center center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
  }

  .card-body {
    height: 20%;
  }
}