<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="card-deck" >
          <div class="card" style="max-width: 21rem;" *ngFor="let message of messagesData; let i = index">
            <img class="card-img-top" [src]="message.partImagePath" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">New order</h5>
              <dl class="row">
                <dt class="col-sm-4">Maker:</dt>
                <dd class="col-sm-8">{{ message.maker }}</dd>
                <dt class="col-sm-4">Model:</dt>
                <dd class="col-sm-8">{{ message.model }}</dd>
                <dt class="col-sm-4">Category:</dt>
                <dd class="col-sm-8">{{ message.categoryId }}</dd>
                <dt class="col-sm-4">Part Name:</dt>
                <dd class="col-sm-8">{{ (message.sparePartName !== ' ') ? message.sparePartName: '-'}}</dd>
                <dt class="col-sm-4">Note:</dt>
                <dd class="col-sm-8">{{ (message.note !== ' ') ? message.note: '-' }}</dd>
              </dl>
              <a role="button" class="btn btn-secondary">Ignore</a>
              <button type="button" (click)="catchIt(i)" class="btn btn-primary">Catch It</button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <button type="button" [routerLink]="['sellermessages']" routerLinkActive="active" class="btn btn-secondary btn-lg btn-block">Show all</button>
    </div>
  </div>
</div>

