<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <!-- Page content -->
  <div class="container-fluid">
    <div class="row">
      <div class="col mb-5 mb-xl-0">
        <div class="card bg-gradient-darker shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
                <h2 class="text-yellow mb-0">
                  <i class="fas fa-database"></i> Database
                </h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <tabset>
              <tab heading="Consumer" id="tab1">
                <!-- consumer data table -->
                <div class="table-responsive mt-3 mb-5">
                  <table
                    class="table align-items-center table-dark table-flush"
                  >
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Full Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Status</th>
                        <th scope="col">Completion</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let consumer of consumerDatabase;
                          last as isLast
                        "
                      >
                        <th scope="row">
                          <div class="media align-items-center">
                            <a href="#" class="avatar rounded-circle mr-3">
                              <img
                                alt="Image placeholder"
                                src="assets/img/theme/angular.jpg"
                              />
                            </a>
                            <div class="media-body">
                              <span class="mb-0 text-sm">{{
                                consumer.name
                              }}</span>
                            </div>
                          </div>
                        </th>
                        <td>
                          {{ consumer.email }}
                        </td>
                        <td>
                          <span class="badge badge-dot">
                            <i class="bg-success"></i> Consumer
                          </span>
                        </td>
                        <td>
                          <span class="badge badge-dot">
                            <i class="bg-success"></i> completed
                          </span>
                        </td>
                        <td>
                          <div class="d-flex align-items-center">
                            <span class="mr-2">100%</span>
                            <div>
                              <div class="progress">
                                <div
                                  class="progress-bar bg-success"
                                  role="progressbar"
                                  aria-valuenow="100"
                                  aria-valuemin="0"
                                  aria-valuemax="100"
                                  style="width: 100%;"
                                ></div>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td class="text-right">
                          <div
                            dropdown
                            class="dropdown"
                            [placement]="isLast ? 'top-right' : 'bottom-right'"
                            [dropup]="isLast"
                          >
                            <a
                              class="btn btn-sm btn-icon-only text-light dropdown-toggle"
                              dropdownToggle
                            >
                              <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <div
                              *dropdownMenu
                              class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                            >
                              <a class="dropdown-item" style="cursor: pointer;">
                                <i class="far fa-envelope"></i> Send Email</a
                              >
                              <a
                                class="dropdown-item"
                                style="cursor: pointer; color: #D9534F;"
                                (click)="onDeleteConsumer(consumer.id)"
                              >
                                <i class="far fa-trash-alt"></i> Delete</a
                              >
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </tab>
              <tab heading="Merchant" id="tab2">
                <!-- Merchant data table -->
                <div class="table-responsive mt-3 mb-5">
                  <table
                    class="table align-items-center table-dark table-flush"
                  >
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Full Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Status</th>
                        <th scope="col">Completion</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let merchant of merchantDatabase;
                          last as isLast
                        "
                      >
                        <th scope="row">
                          <div class="media align-items-center">
                            <a href="#" class="avatar rounded-circle mr-3">
                              <img
                                alt="Image placeholder"
                                src="assets/img/theme/angular.jpg"
                              />
                            </a>
                            <div class="media-body">
                              <span class="mb-0 text-sm">{{
                                merchant.name
                              }}</span>
                            </div>
                          </div>
                        </th>
                        <td>
                          {{ merchant.email }}
                        </td>
                        <td>
                          <span class="badge badge-dot">
                            <i class="bg-success"></i> Merchant
                          </span>
                        </td>
                        <td>
                          <span class="badge badge-dot">
                            <i class="bg-success"></i> completed
                          </span>
                        </td>
                        <td>
                          <div class="d-flex align-items-center">
                            <span class="mr-2">100%</span>
                            <div>
                              <div class="progress">
                                <div
                                  class="progress-bar bg-success"
                                  role="progressbar"
                                  aria-valuenow="100"
                                  aria-valuemin="0"
                                  aria-valuemax="100"
                                  style="width: 100%;"
                                ></div>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td class="text-right">
                          <div
                            dropdown
                            class="dropdown"
                            [placement]="isLast ? 'top-right' : 'bottom-right'"
                            [dropup]="isLast"
                          >
                            <a
                              class="btn btn-sm btn-icon-only text-light dropdown-toggle"
                              dropdownToggle
                            >
                              <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <div
                              *dropdownMenu
                              class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                            >
                              <a class="dropdown-item" style="cursor: pointer;">
                                <i class="far fa-envelope"></i> Send Email</a
                              >
                              <a
                                class="dropdown-item"
                                style="cursor: pointer; color: #D9534F;"
                                (click)="onDeleteMerchant(merchant.id)"
                              >
                                <i class="far fa-trash-alt"></i> Delete</a
                              >
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </tab>
            </tabset>
          </div>
        </div>
      </div>
      <!-- <div class="col-xl-6">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
              <h2 class="mb-0">Total orders</h2>
            </div>
          </div>
        </div>
        <div class="card-body">

        </div>
      </div>
    </div> -->
    </div>
  </div>
</div>
