<div class="container mt-5">
  <div class="row">
    <div class="col-8">
      <h3>New Advertiesment</h3>
      <div class="card">
        <div class="card-body">
          <form [formGroup]="advertisingForm" (ngSubmit)="onPublish()">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="title">Title</label>
                  <input
                    type="text"
                    class="form-control"
                    id="title"
                    placeholder="title"
                    formControlName="title"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="des">Description</label>
                  <textarea
                    class="form-control"
                    id="exampleFormControlTextarea1"
                    placeholder="Description"
                    formControlName="description"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="adv-image" class="mr-3">Adv. Image</label>
                  <input
                    type="file"
                    class="form-control-file"
                    id="adv-image"
                    (change)="onAdvImageUpload($event)"
                    #imagePicker
                  />
                  <button
                    type="button"
                    class="btn btn-outline-secondary image-picker"
                    (click)="imagePicker.click()"
                  >
                    <i class="fas fa-camera"></i> Upload
                  </button>
                </div>
                <div
                  class="image-preview"
                  *ngIf="
                    advImagePreviewPath &&
                    advImagePreviewPath !== '' &&
                    this.advertisingForm.get('advImage').valid
                  "
                >
                  <img [src]="advImagePreviewPath" alt="adv-image" />
                </div>
              </div>
            </div>
            <div class="text-right">
              <button type="submit" class="btn btn-success" *ngIf="mode === 'create'">Publish</button>
              <button type="submit" class="btn btn-success" *ngIf="mode === 'edit'">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-4">
      <h3>Published</h3>
      <div class="card">
        <div class="card-body" *ngIf="isLoading">
          <div class="d-flex justify-content-center">
            <div class="spinner-grow text-muted" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
        <div class="card-body" *ngIf="!isLoading">
          <h3 class="text-muted" *ngIf="advertisements.length < 1">You have no published advertiesments</h3>
          <div class="list-group">
              <div
                class="list-group-item list-group-item-action flex-column align-items-start"
                *ngFor="let advertiesment of advertisements; let i = index"
              >
                <div class="d-flex w-100 justify-content-between">
                  <h3 class="mb-1 text-uppercase text-muted mb-0">
                    {{ advertiesment.title }}
                  </h3>
                  <div>
                      <small class="text-dark mr-3" style="cursor: pointer" (click)="editAdv(i)"><i class="far fa-edit"></i></small>
                      <small class="text-danger" style="cursor: pointer" (click)="deleteAdv(advertiesment.id)"><i class="far fa-trash-alt"></i></small>
                  </div>
                </div>
                  <span class="h5 mb-0">
                    {{ advertiesment.description }}
                  </span>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
