<div class="card" style="width: 50rem;">
  <img class="card-img-top" src="assets/images/carousel/6.jpg" alt="Card image cap">
  <div class="card-body">
    <form>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Publisher">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
              </div>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Description"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group has-success">
            <input type="text" placeholder="Address" class="form-control is-valid" />
          </div>
        </div>
      </div>
    </form>
    <a href="#" class="btn btn-primary">Publish</a>
  </div>
</div>