input[type='file'] {
  display: none;
  visibility: hidden;
}

.image-preview {
  width: 100%;

  img {
    width: 100%;
  }
}

.form-group {
  input.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  textarea.ng-invalid.ng-touched {
    border: 1px solid red;
  }
}