<div class="container-fluid mt-7">
  <div class="row">
    <div class="col">
      <div class="list-group">
        <a
          class="list-group-item list-group-item-action flex-column align-items-start"
          *ngFor="let response of responseData; let i = index"
          (click)="changeContent(i)"
          fragment="i"
          routerLinkActive="active"
        >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ response.requestId }}</h5>
            <small>3 days ago</small>
          </div>
          <p class="mb-1">{{ response.responseCreator }}</p>
          <small>Rs. {{ response.unitPrice }}</small>
        </a>
      </div>
    </div>
    <div class="col-5">
      <div class="card">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
          <img
            [src]="contentData[0]?.imagePath"
            [alt]="contentData[0]?.oemNumber"
            class="mb-5"
          />
          <dl class="row">
            <dt class="col-sm-4">OE/OEM Part No.:</dt>
            <dd class="col-sm-8">{{ contentData[0]?.oemNumber }}</dd>
            <dt class="col-sm-4">Remanufactured:</dt>
            <dd class="col-sm-8">
              {{ contentData[0]?.remanufactured ? "Yes" : "No" }}
            </dd>
            <dt class="col-sm-4">Condition:</dt>
            <dd class="col-sm-8">
              {{ contentData[0]?.condition | titlecase }}
            </dd>
            <dt class="col-sm-4">Material:</dt>
            <dd class="col-sm-8">{{ contentData[0]?.material }}</dd>
            <dt class="col-sm-4">Model:</dt>
            <dd class="col-sm-8">{{ contentData[0]?.model }}</dd>
            <dt class="col-sm-4">Brand:</dt>
            <dd class="col-sm-8">{{ contentData[0]?.brand }}</dd>
            <dt class="col-sm-4">Seller Note:</dt>
            <dd class="col-sm-8">{{ contentData[0]?.note }}</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img
                  src="assets/img/theme/team-4-800x800.jpg"
                  class="rounded-circle"
                />
              </a>
            </div>
            <p>Shop Name Here</p>
          </div>

        </div>
        <div
          class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4"
        ></div>
        <div class="card-body pt-0 pt-md-4">
          <dl>
            <dt class="col-sm-4">Unit Price:</dt>
            <dd class="col-sm-8 text-success display-4">
              {{ contentData[0]?.unitPrice }}
            </dd>
          </dl>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
</div>
