<div class="container-fluid mt-7">
  <div class="row">
    <div class="col">
      <div class="list-group">
        <a
          class="list-group-item list-group-item-action flex-column align-items-start"
          *ngFor="let response of responseData; let i = index"
          (click)="changeContent(i)"
          fragment="i"
          routerLinkActive="active"
        >
          <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1 text-uppercase text-muted mb-0">
              {{ response.responseCreator.profile.shopName }}
            </h3>
            <small>{{ response.created_at | date }}</small>

          </div>
          <div class="d-flex w-100 justify-content-around">
            <span class="h2 font-weight-bold mb-0 text-success">
              Rs. {{ response.unitPrice }}
            </span>
            <small class="text-warning"
              ><i class="fas fa-map-marker-alt"></i>
              {{ response.responseCreator.profile.city }}</small
            >
          </div>
        </a>
      </div>
    </div>
    <div class="col-5">
      <div class="card">
        <h5 class="card-header">Featured</h5>
        <!-- Spinner -->
        <div *ngIf="isLoading">
          <div class="d-flex justify-content-center">
            <div class="spinner-grow text-muted" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
        <div class="card-body" *ngIf="!isLoading">
          <div class="image-wrapper">
              <img
              [src]="contentData[0]?.imagePath"
              [alt]="contentData[0]?.oemNumber"
              class="mb-2"
            />
          </div>
          <hr class="my-4" />
          <dl class="row">
            <dt class="col-sm-4">OE/OEM Part No.:</dt>
            <dd class="col-sm-8">{{ contentData[0]?.oemNumber }}</dd>
            <dt class="col-sm-4">Remanufactured:</dt>
            <dd class="col-sm-8">
              {{ contentData[0]?.remanufactured ? "Yes" : "No" }}
            </dd>
            <dt class="col-sm-4">Condition:</dt>
            <dd class="col-sm-8">
              {{ contentData[0]?.condition | titlecase }}
            </dd>
            <dt class="col-sm-4">Material:</dt>
            <dd class="col-sm-8">
              {{
                contentData[0]?.material === "null"
                  ? "-"
                  : contentData[0]?.material
              }}
            </dd>
            <dt class="col-sm-4">Model:</dt>
            <dd class="col-sm-8">
              {{
                contentData[0]?.model === "null" ? "-" : contentData[0]?.model
              }}
            </dd>
            <dt class="col-sm-4">Brand:</dt>
            <dd class="col-sm-8">{{ contentData[0]?.brand }}</dd>
            <dt class="col-sm-4">Seller Note:</dt>
            <dd class="col-sm-8">{{ contentData[0]?.note }}</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-profile shadow">
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img
                    src="assets/img/icons/common/merchant.png"
                    class="rounded-circle"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div
                class="card-profile-stats d-flex justify-content-center mt-md-5"
              >
                <div>
                  <span class="heading">10</span>
                  <span class="description">Reviews</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <link
              rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
            />
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <h2>{{ contentData[0]?.responseCreator.profile.shopName }}</h2>
            <h3>{{ contentData[0]?.responseCreator.profile.address | titlecase }}</h3>
            <hr class="my-4" />
            <div class="card-body">
              <dl>
                <dt class="text-left">Unit Price:</dt>
                <dd class="text-center text-success display-4">
                  {{ contentData[0]?.unitPrice + ' /='}}
                </dd>
              </dl>
            </div>
            <div class="card-body">
              <h3 class="text-left text-orange">Get Contacts</h3>
              <div class="contact-section btn">
                <span (click)="viewContact()" *ngIf="!contactView"><i class="fas fa-tty"></i></span>
                <h1 class="display-4" *ngIf="contactView">{{ contentData[0]?.responseCreator.profile.contactNo }}</h1>
              </div>
            </div>
            <div class="card-body">
                <h3 class="text-left text-yellow">Place Order</h3>
                <div class="contact-section btn">
                  <span><i class="fas fa-truck mr-2"></i> Under Construction</span>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
