<div class="container-fluid mt-7">
  <div class="row">
    <mat-card class="container-card">
      <mat-card-header>
        <mat-horizontal-stepper class="horizontal-stepper">
          <mat-step label="SHIPPING" completed=false>
            <mat-card class="stepper-card">
              <mat-card-content>
                <!-- order summary -->
                <table class="table table-dark">
                    <thead>
                      <tr>
                        <th >Your Order</th>
                        <th >Quantity</th>
                        <th >Unit Price</th>
                        <th >Total Price</th>
                       </tr>
                    </thead>
                    <tbody>
                      <tr>
                       <td>{{ order_response?.brand }}</td>
                       <th >
                          <div class="input-group input-group-sm mb-3">
                              <input type="text" (input)="getQuality($event)" class="form-control" >
                            </div>
                       </th>
                       <th >Rs {{ order_response?.unitPrice}}</th>
                       <th >Rs {{(quality)*order_response?.unitPrice}}</th>
                      </tr>
                    </tbody>
                  </table>

                <!-- shipping content -->
                <form [formGroup]="shippingForm" (ngSubmit)="onOrder()">
                    <!-- Address -->
                    <h6 class="heading-small text-muted mb-4">Recipient's information</h6>
                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-shop-name"
                              >Name</label
                            >
                            <input
                              id="input-shop-name"
                              class="form-control form-control-alternative"
                              placeholder="Name"
                              type="text"
                              formControlName="name"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-address"
                              >Address</label
                            >
                            <input
                              id="input-address"
                              class="form-control form-control-alternative"
                              placeholder="Address"
                              type="text"
                              formControlName="address"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label class="form-control-label" for="input-city"
                              >City</label
                            >
                            <input
                              type="text"
                              id="input-city"
                              class="form-control form-control-alternative"
                              placeholder="City"
                              formControlName="city"
                            />
                          </div>
                        </div>
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label class="form-control-label" for="input-contact"
                              >Contact No.</label
                            >
                            <input
                              type="text"
                              id="input-contact"
                              class="form-control form-control-alternative"
                              placeholder="011 XXX XXXX"
                              formControlName="contactNo"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label class="form-control-label" for="input-latitude"
                              >Latitude</label
                            >
                            <input
                              type="text"
                              id="input-latitude"
                              class="form-control form-control-alternative"
                              placeholder="latitude"
                              formControlName="latitude"
                            />
                          </div>
                        </div>
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label class="form-control-label" for="input-longitude"
                              >Longitude</label
                            >
                            <input
                              type="text"
                              id="input-longitude"
                              class="form-control form-control-alternative"
                              placeholder="longitude"
                              formControlName="longitude"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Description -->
                    <!-- Save -->
                    <div class="pl-lg-4 text-right">
                      <div class="form-group">
                        <button type="submit" class="btn btn-success">Save</button>
                      </div>
                    </div>
                  </form>
              </mat-card-content>
              <mat-card-actions class="text-right">
                <button mat-button matStepperNext>Next</button>
              </mat-card-actions>
            </mat-card>
          </mat-step>
          <mat-step label="PAYMENT" completed=false>
            <mat-card class="stepper-card">
              <mat-card-content>
                <!-- Payment content -->
              </mat-card-content>
              <mat-card-actions class="text-right">
                <button mat-button matStepperPrevious>Previous</button>
                <button mat-button matStepperNext>Next</button>
              </mat-card-actions>
            </mat-card>
          </mat-step>
          <mat-step label="REVIEW" completed=false>
            <mat-card class="stepper-card">
              <mat-card-content>
                <div class="row">
                  <div class="col-12 col-md-8 order-review">
                    <h3>Review Order</h3>
                  </div>
                  <div class="col-6 col-md-4 order-summery">
                    <h3>Order Summary</h3>
                    <hr>
                    <mat-card-actions class="text-center">
                      <button type="button" class="btn btn-warning order-button">Place Order</button>
                    </mat-card-actions>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </mat-step>
        </mat-horizontal-stepper>
      </mat-card-header>
    </mat-card>
  </div>
</div>
