<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <!-- Page content -->
  <div class="container-fluid">
    <div class="row">
      <div class="col mb-5 mb-xl-0">
        <div class="card bg-gradient-darker shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
                <h2 class="text-yellow mb-0">
                  <i class="fas fa-database"></i> Database
                </h2>
              </div>
            </div>
          </div>
          <div class="card-body">
          </div>
        </div>
      </div>
      <!-- <div class="col-xl-6">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
              <h2 class="mb-0">Total orders</h2>
            </div>
          </div>
        </div>
        <div class="card-body">

        </div>
      </div>
    </div> -->
    </div>
  </div>
</div>
