
input[type="file"] {
  display: none;
  visibility: hidden;
}

input[type="submit"] {
  display: none;
  visibility: hidden;
}

.image-picker {
  margin-left: 8px;
}

.image-preview {
  height: 10rem;
  margin: 1rem 0;

  img {
    height: 100%;
  }
}

.form-group {
  input.ng-invalid.ng-touched {
    border: 1px solid red;
  }
}