<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Traffic
                  </h5>
                  <span class="h2 font-weight-bold mb-0">350,897</span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-danger text-white rounded-circle shadow"
                  >
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"
                  ><i class="fa fa-arrow-up"></i> 3.48%</span
                >
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    New users
                  </h5>
                  <span class="h2 font-weight-bold mb-0">2,356</span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-warning text-white rounded-circle shadow"
                  >
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"
                  ><i class="fas fa-arrow-down"></i> 3.48%</span
                >
                <span class="text-nowrap">Since last week</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Sales
                  </h5>
                  <span class="h2 font-weight-bold mb-0">924</span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-yellow text-white rounded-circle shadow"
                  >
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-warning mr-2"
                  ><i class="fas fa-arrow-down"></i> 1.10%</span
                >
                <span class="text-nowrap">Since yesterday</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Performance
                  </h5>
                  <span class="h2 font-weight-bold mb-0">49,65%</span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-info text-white rounded-circle shadow"
                  >
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"
                  ><i class="fas fa-arrow-up"></i> 12%</span
                >
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-lg-6 mb-5 mb-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Overview</h6>
              <h2 class="mb-0">
                <i class="fab fa-searchengin"></i> Find My Part
              </h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="partFindForm" (ngSubmit)="onFindMyItem()">
            <div class="form-group">
              <label class="mr-sm-2" for="inlineFormCustomSelect"
                >Vehicle Maker</label
              >
              <select
                (change)="changeMaker()"
                class="custom-select form-control-alternative mr-sm-2"
                id="inlineFormCustomSelect"
                placeholder="select your maker"
                formControlName="maker"
              >
                <option *ngFor="let maker of makers" [value]="maker">{{
                  maker
                }}</option>
              </select>
            </div>
            <div class="form-group">
              <label class="mr-sm-2" for="inlineFormCustomSelect"
                >Vehicle Model</label
              >
              <select
                class="custom-select form-control-alternative mr-sm-2"
                id="inlineFormCustomSelect"
                placeholder="select your model"
                formControlName="model"
              >
                <option *ngFor="let model of models" [value]="model">
                  {{ model }}</option
                >
              </select>
            </div>
            <div class="form-group">
              <label class="mr-sm-2" for="inlineFormCustomSelect"
                >Part Category</label
              >
              <select
                class="custom-select form-control-alternative mr-sm-2"
                id="inlineFormCustomSelect"
                placeholder="select item category"
                formControlName="category"
              >
                <option
                  *ngFor="let category of categories"
                  [value]="category.id"
                >
                  {{ category.catName }}</option
                >
              </select>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Spare Part Name</label>
              <input
                type="text"
                class="form-control form-control-alternative"
                id="input1"
                placeholder="Enter item name if known"
                formControlName="sparePartName"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlFile1" class="mr-2"
                >Spare Part Image Upload and Preview</label
              >
              <input
                type="file"
                class="form-control-file"
                #filePicker
                (change)="onImagePicked($event)"
                required
              />
              <div
                class="part-image-preview"
                *ngIf="
                  imagePreview !== '' &&
                  imagePreview &&
                  partFindForm.get('partImage').valid
                "
              >
                <img [src]="imagePreview" [alt]="partFindForm.value.model" />
              </div>
              <button
                type="button"
                (click)="filePicker.click()"
                class="btn btn-outline-secondary"
              >
                <i class="fas fa-camera"></i> Pick Image
              </button>
              <span
                *ngIf="
                  partFindForm.get('partImage').invalid &&
                  partFindForm.get('partImage').touched
                "
                class="text-danger"
              >
                <span *ngIf="partFindForm.get('partImage').errors['required']"
                  >This field is required</span
                >
              </span>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Note</label>
              <textarea
                class="form-control form-control-alternative"
                id="exampleFormControlTextarea1"
                rows="3"
                placeholder="Write a brief description here ..."
                formControlName="note"
              ></textarea>
            </div>

            <button type="submit" class="btn btn-primary">
              Find it for me!
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Notifications</h6>
              <h2 class="mb-0">Responses on Request</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <mat-accordion multi="true" *ngIf="messagesData.length > 0">
            <mat-expansion-panel *ngFor="let message of messagesData">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Request ID: {{ message.id }}
                </mat-panel-title>
                <mat-panel-description>
                  <small class="text-muted">{{ message.model }}</small>
                </mat-panel-description>
                <span class="mr-2"
                  ><mat-icon
                    matBadge="15"
                    matBadgeColor="warn"
                    matBadgePosition="above after"
                    >notification_important</mat-icon
                  ></span
                >
              </mat-expansion-panel-header>
              <div class="image-preview">
                <img [src]="message.partImagePath" [alt]="message.model">
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
