<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/carousel/6.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">New order</h5>
              <p class="card-text">Buyers' message</p>
              <a href="#" class="btn btn-primary">Reply</a>
              <a href="#" class="btn btn-primary">Ignore</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/carousel/6.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">New order</h5>
              <p class="card-text">Buyers' message</p>
              <a href="#" class="btn btn-primary">Reply</a>
              <a href="#" class="btn btn-primary">Ignore</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/carousel/6.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">New order</h5>
              <p class="card-text">Buyers' message</p>
              <a href="#" class="btn btn-primary">Reply</a>
              <a href="#" class="btn btn-primary">Ignore</a>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/carousel/6.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">New order</h5>
              <p class="card-text">Buyers' message</p>
              <a href="#" class="btn btn-primary">Reply</a>
              <a href="#" class="btn btn-primary">Ignore</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/carousel/6.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">New order</h5>
              <p class="card-text">Buyers' message</p>
              <a href="#" class="btn btn-primary">Reply</a>
              <a href="#" class="btn btn-primary">Ignore</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/carousel/6.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">New order</h5>
              <p class="card-text">Buyers' message</p>
              <a href="#" class="btn btn-primary">Reply</a>
              <a href="#" class="btn btn-primary">Ignore</a>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/carousel/6.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">New order</h5>
              <p class="card-text">Buyers' message</p>
              <a href="#" class="btn btn-primary">Reply</a>
              <a href="#" class="btn btn-primary">Ignore</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/carousel/6.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">New order</h5>
              <p class="card-text">Buyers' message</p>
              <a href="#" class="btn btn-primary">Reply</a>
              <a href="#" class="btn btn-primary">Ignore</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/carousel/6.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">New order</h5>
              <p class="card-text">Buyers' message</p>
              <a href="#" class="btn btn-primary">Reply</a>
              <a href="#" class="btn btn-primary">Ignore</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
